<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.ymjr.core.mapper.LendMapper">
    <select id="selectLend" resultType="com.java.ymjr.core.pojo.Lend">
        SELECT user_id,
               lend_no,
               title,
               amount,
               period,
               lend_year_rate,
               service_rate,
               return_method,
               lowest_amount,
               invest_amount,
               invest_num,
               publish_date,
               lend_start_date,
               lend_end_date,
               lend_info,
               expect_amount,
               real_amount,
               status,
               create_time
        FROM lend
        WHERE id = #{id}
          AND is_deleted = 0
    </select>
</mapper>
